@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(imagens/background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;

}

a{
	color: blue;
	text-decoration: none;
	text-align: justify;
	font-family: 'Titillium Web', sans-serif;
}
p {
	font-family: 'Titillium Web', sans-serif;
	text-align: justify;
}
div#welcome{
	background-color: #FFF;
	width: 1100px;
	padding: 10px;
	margin: 10px;
	box-shadow: 0px 0px 10px black;
	margin: 0px auto 5px auto;
}
div#site{
	background-color: #FFF;
	width: 1100px;
	padding: 10px;
	margin: 10px;
	box-shadow: 0px 0px 10px black;
	margin: 0px auto 0px auto;
}

div#interface {
	width: 570px;
	height: 300px;
	background-color: white;
	margin: 140px auto 0px auto;
	box-shadow: 0px 0px 10px black;
	padding: 10px;
}
div#cadastro{
	width: 900px;
	padding: 10px;
	margin: 30px auto 0px auto;
	box-shadow: 0px 0px 10px black;
	background: #FFF;
}

fieldset#login {
	font-family: 'Titillium Web', sans-serif;
	width: 500px;
	height: 265px;
	margin-left: 20px;
	padding: 10px;
}

input#formlogin {
	font-family: 'Titillium Web', sans-serif;
	box-shadow: 0px 0px 5px #000000;
	padding: 20px;
	margin: 20px;
}

input#idlogar {
	font-family: 'Titillium Web', sans-serif;
	padding: 10px;
	margin: 10px;
	margin-left: 25px;
}

input#formCad {
	font-family: 'Titillium Web', sans-serif;
	padding: 10px;
	margin: 10px;
	width: 450px;
}

input#idtel {
	font-family: 'Titillium Web', sans-serif;
	position: right;
	padding: 10px;
	margin: 10px;
}

select#idsituacao{
	font-family: 'Titillium Web', sans-serif;
	padding: 10px;
	margin: 10px;
	position: right;
}

input#idcnpj {
	font-family: 'Titillium Web', sans-serif;
	padding: 10px;
	margin: 10px;
	width: 450px;
}

legend#legendCad {
	font-family: 'Titillium Web', sans-serif;
	text-align: justify;
}

input#endForm {
	font-family: 'Titillium Web', sans-serif;
	padding: 10px;
	margin: 10px;
	width: 450px;
}

input#idnumero {
	font-family: 'Titillium Web', sans-serif;
	padding: 10px;
	margin: 10px;
	width: 50px;
}

label#idnumero{
	font-family: 'Titillium Web', sans-serif;
}
input#iduser {
	font-family: 'Titillium Web', sans-serif;
	width: 450px;
	padding: 10px;
	margin: 10px;
}

input#idsubmit {
	font-family: 'Titillium Web', sans-serif;
	width: 98%;
	padding: 10px;
	margin: 10px;
}

label#idsituacao{
	font-family: 'Titillium Web', sans-serif;
	text-align: justify;
}
label#idtarefa {
	font-family: 'Titillium Web', sans-serif;
	text-align: justify;
	margin-left: 10px;
}

nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -20px;
	left: 480px;
	margin-left: 380px;
}
nav#menu li {
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	margin: 2px;
	margin-top: 20px;
	transition: background-color 1s;
}


div#site h1{
	font-family: 'Titillium Web', sans-serif;
}
div#site h3{
	font-family: 'Titillium Web', sans-serif;
}
figure.camisaSummer {
	display: inline-block;
	margin: 5px;
	padding: 10px;
}

figure.camisaSpring {
	display: inline-block;
	margin: 5px;
	padding: 10px;
}

input#formMod {
	font-family: 'Titillium Web', sans-serif;
	padding: 10px;
	margin: 10px;
	width: 450px;
}

select#colecao{
	font-family: 'Titillium Web', sans-serif;
	padding: 10px;
	margin: 10px;
	position: right;
}

label#labelCol{
	font-family: 'Titillium Web', sans-serif;
	padding: 10px;
}

input#idesc {
	font-family: 'Titillium Web', sans-serif;
	padding: 10px;
	margin: 10px;
	position: right;
	height: 300px;
	width: 450px;
	word-wrap: normal;
}